{%load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> AudioFlix </title>
	<link rel='stylesheet' href="{%static 'css/bootstrap5/css/bootstrap.min.css'%}">
    <link rel='stylesheet' href="{%static 'css/fontawesome_5/css/all.min.css'%}" media="print" onload="this.media='all'">

    <link rel='stylesheet' href="{%static 'css/animate.min.css'%}">

	<script src="{%static 'js/react.production.min.js'%}"></script>
	<script type="text/javascript" src="{%static 'js/react-dom.production.min.js'%}"></script>
	<script src="{%static 'js/babel.min.js'%}"></script>
	<script type="text/javascript" src="{%static 'js/axios.min.js'%}"></script>
	 <link rel='stylesheet' href="{%static 'css/acss/acss.css'%}">

</head>
<style>
:root{
	--primary-color:blue;
	--secondary-color:black;
}
</style>
<body class="bg-light">


<div class="navbar shadow p-2 color-bg-p ">
	<div class="navbar-brand sz-20 color-white">AudioFlix</div>
	<div class="navbar-brand color-white">{{request.user}}</div>
</div>
<br />

<div class="container-fluid">
<div class="row sz-24 ">
<div class="col-1 bold h-100">
	<br />
	<div class="row my-2 p-2">
		<div class="col"><a class="no-decoration rounded-circle color-bd-p color-p p-2" href="{%url 'HomeUrl'%}"><i class="fas fa-home"></i></a> </div>
	</div>
	<div class="row my-2 p-2">
		<div class="col"><a class="no-decoration rounded-circle color-p p-2" href="{%url 'ExploreUrl' %}"><i class="far fa-compass"></i></a></div>
	</div>
	<div class="row my-2 hide">
		<div class="col">Library</div>
	</div>
	<div class="row my-2 p-2">
		<div class="col"><a class="no-decoration rounded-circle color-p p-2" href="{%url 'SearchUrl'%}"><i class="fas fa-search"></i></a></div>
	</div>
</div>
{%block content%}
<div class="col" id="main">


</div>
{%endblock%}
</div>
</div>

{%static 'js/src' as path%}
<script type="text/babel" src="{%static 'js/src/main.js'%}"></script>
<script type="text/babel" src="{{path}}/{%block src%}{%endblock%}"></script>

{%block mount%}
<script type="text/babel">
const root = document.getElementById('main');
ReactDOM.render(<App />,root)
</script>
{%endblock%}

</body>
</html>